<% provide(:title, "Professionisti qualificati al tuo servizio") %>
<% provide(:meta_desc, "Soluzioni con droni, su misura, per rilievi topografici, ispezioni e riprese in tempi ridotti, applicabili in svariati campi: Edilizia, Progettazione, Certificazione, Efficientamento, Restauro Archeologia, Promozione e pubblicità, Agricoltura, Allevamento") %>
<div class="hero container-fluid white-text center-text B s2 " id="hero-about">
	<div class="hero-titlebox">
	</div>
	<div class="title-container"><h1>CHI SIAMO</h1></div>
</div>
<section class="container-fluid col-flex white-text" id="mission">
	<div class="widescreen-post-hero">
		<h2 class="s4 animation-element fade-from-top center-text">Professionisti qualificati al tuo servizio</h2>
	</div>
	<div class="container-md col-flex animation-element">
		<div class="rounded s2">
			<p class="justified animation-element fade-from-left" ><strong>VERTICAL EYE</strong> è un progetto nato nel 2018 da un’idea di Andrea La Torre e Filippo Trogi.
			Laureati entrambi in Archeologia e culture del mondo antico, lavoriamo da diversi anni non solo nel settore archeologico, ma anche in quello topografico.
			Intuendo poi le potenzialità offerte dalle nuove tecnologie, come i sempre più avanzati software di rilievo fotogrammetrico, la nostra attenzione si è spostata sulla possibilità di approcciarci al rilievo in maniera più <strong>innovativa</strong>. Da qui all'idea di ottenere, grazie ai SAPR (droni), una gran quantità di riprese aeree a costi e tempistiche contenuti, il passo è stato breve. Si è così aperto un mondo di potenzialità: con questi mezzi le possibilità di ottimizzare e facilitare lavori già esistenti sono quasi infinite ed è così che piano piano ne abbiamo studiate e sperimentate diverse, fino ad arrivare a mettere a terra il progetto Vertical Eye e delineare accuratamente la gamma di servizi che offriamo.
			</p>
		</div>
	</div>
</section>
<section class="container-fluid widescreen " id="team">
	<div class="container">
		<h2 class="center-text s4 white-text animation-element fade-from-right">Il team di Vertical Eye</h2>
		<br>
		<div class="container center-text animation-element fade-from-left">
			<div class="row">
				<div class="col-sm-6 flip-card">
					<div class="flip-card-inner">
				    <div class="flip-card-front">
				      <div class="col-flex"><%= image_tag("Andre.jpg", alt: "Andrea La Torre") %></div>
			     		<h3 class="s2">Andrea La Torre</h3>
				    </div>
				    <div class="flip-card-back">
				      <p class="justified">Nato a Sassuolo (MO) il 13/12/1989, nel 2018 consegue con lode la Laurea Magistrale in Archeologia e Culture del Mondo Antico presso L'Università di Bologna.<br>Da anni si dedica a numerore attività legate all'ambito archeologico sia in scavo che per quanto riguarda archeologia sperimentale e didattica. Sul campo, in particolar modo si occupa della resa grafica del dato di scavo tramite il rilievo tridimensionale, prima da terra e ora anche da drone.<br>La passione per le possibili applicazioni delle innovazioni nel campo della topografia archeologica lo porta alla partecipazione di numerosi corsi di formazione potendo quindi considerarsi oggi un esperto nel campo della fotogrammetria e del rilievo 3D.<br>La consapevolezza che l'introduzione dei droni in ambiti come questo potesse avere tantissimi sviluppi di lavoro e ricerca (anche lontani dal proprio ambito specifico) lo hanno spinto ad ottenere l'attestato di pilota di SAPR iniziando così un percorso che lo ha portato a valutare e studiare tanti possibili campi di utilizzo.</p>
				    </div>
				  </div>
				</div>
				<div class="col-sm-6 flip-card">
					<div class="flip-card-inner">
				    <div class="flip-card-front">
				      <div class="col-flex">
				      	<%= image_tag("Fillo.jpg", alt: "Filippo Trogi") %>
				      </div>
				      <h3 class="s2">Filippo Trogi</h3>
				    </div>
				    <div class="flip-card-back">
				      <p class="justified">Nato a Sassuolo (MO) il 13/08/1990, ha conseguito con lode la Laurea Magistrale in Archeologia e  Culture del Mondo Antico presso l'Università degli Studi di Bologna nel Marzo 2018.
							<br>Da anni si dedica a svariate attività sul campo, sia per quanto riguarda l'archeologia che la topografia, in particolare il rilievo tridimensionale sia da terra che da drone.
							<br>Grazie alla partecipazione a numerosi corsi di formazione, può considerarsi oggi un esperto nel campo della fotogrammetria.
							<br>La passione per la tecnologia e la voglia di mettersi continuamente in gioco, lo hanno spinto ad ottenere l'attestato di pilota di SAPR e di sperimentare sempre nuove tecniche.</p>
				    </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="container-fluid fade-from-bottom animation-element" id="fleet">
	<div class="container-md s1 white-text card-border">
		<h2 class="center-text s4">La nostra flotta</h2>
		<div>
			<div class="container-sm" id="s900">
				<h3 class="center-text s3">DJI S900</h3>
				<div class="row">	
					<div class="col-sm-4 col-flex">
						<div class="img-round">
							<%= image_tag("s900.png", alt: "DJI S900") %>
						</div>
					</div>
					<div class="col-sm-8 row-top">
						<div class="col-sm-6">
							<ul>
								<h4 class="up s2">Caratteristiche principali</h4>
								<li><p>20 minuti di autonomia di volo</p></li>
								<li><p>Volo autonomo per missioni con waypoint GPS</p></li>
								<li><p>Posizionamento GPS</p></li>
								<li><p>Ritorno a casa automatico in caso emergenza</p></li>
								<li><p>Scatola nera con registrazione log di volo + dati GPS</p></li>
								<li><p>Gimbal brushless a 3 assi per riprese stabilizzate</p></li>
								<li><p>Fotocamera Panasonic Loomix GH4 con sensore Live-MOS da 16.5MP</p></li>
								<li><p>Obiettivo fisso da 35 mm</p></li>
								<li><p>Riprese video in risoluzione 4k</p></li>
								<li><p>Possibilità di installare altri tipi di payload, come termocamere, lidar o camere multispettrali</p></li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<h4 class="up s2">Campi di utilizzo</h4>
								<li><p>Aerofotogrammetria</p></li>
								<li><p>Topografia</p></li>
								<li><p>Rilievo digitale al di sotto della vegetazione</p></li>
								<li><p>DEM/ DSM/ DTM e curve di livello</p></li>
								<li><p>Ortofoto con risoluzione fino a 1cm/pixel</p></li>
								<li><p>Monitoraggio frane e cave</p></li>
								<li><p>Ispezioni termiche (fotovoltaico)</p></li>
								<li><p>agricoltura di precisione</p></li>
								<li><p>ispezioni video/fotografiche</p></li>
								<li><p>fotografie e riprese aeree</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<br>
			<div class="container-sm" id="Q500">
				<h3 class="center-text s3">Yuneek Typhoon Q500 4K</h3>
				<div class="inverted">
					<div class="col-sm-4 col-flex">
						<div class="img-round">
							<%= image_tag("Typhoon.jpg", alt: "Thyphoon Q500 4k") %>
						</div>
					</div>
					<div class="col-sm-8 row-top">
						<div class="col-sm-6">
							<ul>
								<h4 class="up s2">Caratteristiche principali</h4>
								<li><p>15 minuti di autonomia di volo</p></li>
								<li><p>Posizionamento GPS</p></li>
								<li><p>Ritorno a casa automatico in caso emergenza</p></li>
								<li><p>Scatola nera con registrazione log di volo + dati GPS</p></li>
								<li><p>Gimbal brushless a 3 assi per riprese stabilizzate</p></li>
								<li><p>Fotocamera con sensore CMOS 1/2.3" da 12MP</p></li>
								<li><p>Obiettivo fisso da 14 mm F2.8 con correzione della distorsione</p></li>
								<li><p>Riprese video in risoluzione 4k</p></li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul class="caps">
								<h4 class="up s2">Campi di utilizzo</h4>
								<li><p>Aerofotogrammetria</p></li>
								<li><p>Topografia</p></li>
								<li><p>DEM/ DSM/ DTM e curve di livello</p></li>
								<li><p>Ortofoto con risoluzione fino a 5cm/pixel</p></li>
								<li><p>rilievi architettonici</p></li>
								<li><p>ispezioni video/fotografiche</p></li>
								<li><p>fotografie e riprese aeree</p></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div>
			<br>
			<div class="container-sm" id="Spark">
				<h3 class="center-text s3">DJI Spark</h3>
				<div class="row">
					<div class="col-sm-4 col-flex">
						<div class="img-round">
							<%= image_tag("Spark.jpg", alt: "DJI Spark") %>
						</div>
					</div>
					<div class="col-sm-8 row-top">
						<div class="col-sm-6">
							<ul>
								<h4 class="up s2">Caratteristiche principali</h4>
								<li><p>15 minuti di autonomia di volo</p></li>
								<li><p>Posizionamento GPS e sensori anti-collisione</p></li>
								<li><p>Ritorno a casa automatico in caso emergenza</p></li>
								<li><p>Gimbal brushless a 2 assi per riprese stabilizzate</p></li>
								<li><p>Fotocamera con sensore CMOS 1/2.3" da 12MP</p></li>
								<li><p>Obiettivo fisso da 25 mm F2.8 c</p></li>
								<li><p>Riprese video in risoluzione FHD</p></li>
							</ul>
						</div>
						<div class="col-sm-6">
							<ul>
								<h4 class="up s2">Campi di utilizzo</h4>
								<li><p>Aerofotogrammetria</p></li>
								<li><p>DEM/ DSM/ DTM e curve di livello</p></li>
								<li><p>Ortofoto con risoluzione fino a 5cm/pixel</p></li>
								<li><p>rilievi architettonici</p></li>
								<li><p>ispezioni video/fotografiche</p></li>
								<li><p>fotografie e riprese aeree</p></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<br>
<section class="container-fluid animation-element" id="tools">
	<div class="container-md card-border s1">
		<h2 class="center-text s4">La nostra attrezzatura per il rilievo</h2>
		<div>
			<div class="container-sm" id="Stonex">
				<h3 class="center-text s3">Antenna GNSS differenziale Stonex S8 Plus</h3>
				<div class="row">	
					<div class="col-sm-6 col-flex">
						<div class="img-round">
							<%= image_tag("stonex.jpg", alt: "Stonex S8") %>
						</div>
					</div>
					<div class="col-sm-6">
						<ul>
							<h4 class="up s2">Caratteristiche principali</h4>
							<li><p>120 canali</p></li>
							<li><p>4 costellazioni</p></li>
							<li><p>Radiomodem UHF</p></li>
							<li><p>Modem 3G WCDMA per correzione differenziale</p></li>
							<li><p>Bluetooth</p></li>
							<li><p>Palmare con programma GIS integrato</p></li>
							<li><p>Certificazione IP67</p></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="container-sm" id="Ruide">
				<h3 class="center-text s3">Stazione Totale Ruide R820</h3>
				<div class="inverted">
					<div class="col-sm-6 col-flex">
						<div class="img-round">
							<%= image_tag("ruide.png", alt: "Ruide") %>
						</div>
					</div>
					<div class="col-sm-6">
						<ul>
							<h4 class="up s2">Caratteristiche principali</h4>
							<li><p>600m|5000m / distanza massima in modalità non-prism|single prism</p></li>
							<li><p>2mm+2ppm / precisione (modalità prisma)</p></li>
							<li><p>0.3s / tempo di misurazione</p></li>
							<li><p>2" / precisione angolare</p></li>
							<li><p>4' / range di compensazione</p></li>
							<li><p>Sensore automatico di temperatura e pressione</p></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

