<% provide(:title, "Archeologia") %>
<div class="hero container-fluid white-text center-text B s2 printer-bg" id="hero-print">
	<div class="hero-titlebox"></div>
	<div class="title-container"><h1 class="up">archeologia</h1></div>
</div>
<section class="widescreen-post-hero container-fluid">
	<div class="container col-flex rounded white-text center-text">
		<p class="italic s3">"Misura ciò che è misurabile e rendi misurabile ciò che non lo è"</p>
		<p class="up s2 ">Galileo Galilei</p>
	</div>
</section>
<section class="container-fluid services max-widescreen hide" id="archeologia">
	<div class="container-fluid row sub-menu">
		<div class="col-md-4 tablink center-text" onclick="openPage('preventiva', this, 'orange')" id="defaultOpen"><span>Preventiva</span></div>
		<div class="col-md-4 tablink center-text" onclick="openPage('assistenza', this, 'orange')"><span>Assistenza</span></div>
		<div class="col-md-4 tablink center-text" onclick="openPage('scavo', this, 'orange')"><span>Scavo</span></div>
	</div>
	<div id="preventiva" class="tabcontent container-fluid justified">
	  <div class="row justified ">
			<div class="col-sm-6">
				<div>
					<h2 class="up">Archeologia preventiva</h2>
	  			<p>Con il termine rilevamento topografico si intende la misura, sia planimetrica che altimetrica, dello spazio, ottenuta con strumentazione basata su tecnologie satellitari e/o elettro-ottiche. Grazie all'ausilio di strumenti ad alta precisione come stazioni totali e antenne GNSS, affiancate dalle più moderne tecnologie della fotogrammetria, siamo in grado di garantire elevata precisione e affidabilità in tutte le operazioni topografiche, offrendo soluzioni su misura per ogni situazione.<br>
					Grazie alla collaborazione con professionisti nel settore, garantiamo competenza e professionalità in ogni situazione, spaziando dal supporto cantieristico per l'esecuzione di lavori sia pubblici che privati, alle necessità di aggiornamento catastale, fino alla pianificazione urbanistica.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Rilievi plano-altimetrici</p></li>
						<li><p>Picchettamenti, livellamenti, sezionature, piani quotati</p></li>
						<li><p>Rilievi geodetici</p></li>
						<li>Accatastamento di fabbricati</li>
						<li><p>Frazionamenti</p></li>
						<li><p>Rilievi catastali</p></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text">
				<div>
					<%= image_tag("ril1.png", alt: "rilievo stazione totale", title:"Rilievo a Stazione Totale", class:"images-md") %>
				</div>
				<br>
				<div>
					<%= image_tag("ril2.png", alt: "CAD", title: "Elaborazione CAD del rilievo", class:"images-md") %>
				</div>
			</div>
		</div>
	</div>
	<div id="assistenza" class="tabcontent container-fluid justified">
	  <div class="row justified ">
			<div class="col-sm-6">
				<div>
					<h2 class="up">Assistenza archeologica</h2>
	  			<p>Con il termine rilevamento topografico si intende la misura, sia planimetrica che altimetrica, dello spazio, ottenuta con strumentazione basata su tecnologie satellitari e/o elettro-ottiche. Grazie all'ausilio di strumenti ad alta precisione come stazioni totali e antenne GNSS, affiancate dalle più moderne tecnologie della fotogrammetria, siamo in grado di garantire elevata precisione e affidabilità in tutte le operazioni topografiche, offrendo soluzioni su misura per ogni situazione.<br>
					Grazie alla collaborazione con professionisti nel settore, garantiamo competenza e professionalità in ogni situazione, spaziando dal supporto cantieristico per l'esecuzione di lavori sia pubblici che privati, alle necessità di aggiornamento catastale, fino alla pianificazione urbanistica.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Rilievi plano-altimetrici</p></li>
						<li><p>Picchettamenti, livellamenti, sezionature, piani quotati</p></li>
						<li><p>Rilievi geodetici</p></li>
						<li>Accatastamento di fabbricati</li>
						<li><p>Frazionamenti</p></li>
						<li><p>Rilievi catastali</p></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text">
				<div>
					<%= image_tag("ril1.png", alt: "rilievo stazione totale", title:"Rilievo a Stazione Totale", class:"images-md") %>
				</div>
				<br>
				<div>
					<%= image_tag("ril2.png", alt: "CAD", title: "Elaborazione CAD del rilievo", class:"images-md") %>
				</div>
			</div>
		</div>
	</div>
	<div id="scavo" class="tabcontent container-fluid justified">
	  <div class="row justified ">
			<div class="col-sm-6">
				<div>
					<h2 class="up">Scavo archeologico</h2>
	  			<p>Con il termine rilevamento topografico si intende la misura, sia planimetrica che altimetrica, dello spazio, ottenuta con strumentazione basata su tecnologie satellitari e/o elettro-ottiche. Grazie all'ausilio di strumenti ad alta precisione come stazioni totali e antenne GNSS, affiancate dalle più moderne tecnologie della fotogrammetria, siamo in grado di garantire elevata precisione e affidabilità in tutte le operazioni topografiche, offrendo soluzioni su misura per ogni situazione.<br>
					Grazie alla collaborazione con professionisti nel settore, garantiamo competenza e professionalità in ogni situazione, spaziando dal supporto cantieristico per l'esecuzione di lavori sia pubblici che privati, alle necessità di aggiornamento catastale, fino alla pianificazione urbanistica.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Rilievi plano-altimetrici</p></li>
						<li><p>Picchettamenti, livellamenti, sezionature, piani quotati</p></li>
						<li><p>Rilievi geodetici</p></li>
						<li>Accatastamento di fabbricati</li>
						<li><p>Frazionamenti</p></li>
						<li><p>Rilievi catastali</p></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text">
				<div>
					<%= image_tag("ril1.png", alt: "rilievo stazione totale", title:"Rilievo a Stazione Totale", class:"images-md") %>
				</div>
				<br>
				<div>
					<%= image_tag("ril2.png", alt: "CAD", title: "Elaborazione CAD del rilievo", class:"images-md") %>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta">
	<div class="container col-flex">
		<span class="btn white-text o-bg" id="cta2" onclick="openForm()">CHIEDI UN PREVENTIVO</span>
	</div>
</section>
<section class="form container-fluid" id="form">
	<div class="container col-flex w-bg card-border">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdVDiU5gnTpEhF5m0uuyfV1WWe54OqY3yLGrYF-wwYCKMIGtw/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
	</div>
	<i onclick="closeForm()"class="material-icons" style="cursor: pointer;">clear</i>
</section>
<script type="text/javascript">
	// When the user scrolls the page, execute myFunction
	window.onscroll = function() {stickyFunction()};

	// Get the navbar
	var subMenu = document.getElementsByClassName("sub-menu")[0];

	// Get the offset position of the navbar
	var sticky = subMenu.offsetTop;

	// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
	function stickyFunction() {
	  if (window.pageYOffset >= sticky) {
	    subMenu.classList.add("sticky");
	  } else {
	    subMenu.classList.remove("sticky");
	  }
	}
</script>