<% provide(:title, "Operazioni e ispezioni con drone") %>

<div class="hero container-fluid white-text center-text B  bg-2" id="hero-drone">
	<div class="hero-titlebox"></div>
	<div class="title-container"><h1>OPERAZIONI <br> CON DRONE</h1></div>
	<div class="hero-img" id="drone-container">
		<%= image_tag("drone2.png", alt: "drone", title: "dji s900") %>
	</div>
</div>
<section class="widescreen-post-hero container-fluid white-text">
	<div class="col-flex rounded container">
		<p class="italic s3 center-text animation-element fade-from-top">"Quando camminerete sulla terra dopo aver volato, guarderete il cielo perché là siete stati e là vorrete tornare."</p>
		<p class="up s2 animation-element fade-from-bottom">Leonardo da Vinci</p>
	</div>
</section>
<section class="container-fluid services widescreen s1" id="operazioni">
	<div class="container-fluid row sub-menu">
		<div class="col-md-2 tablink center-text" onclick="openPage('Aerofotogrammetria', this, 'orange')" id="defaultOpen"><span>Aerofotogrammetria</span></div>
		<div class="col-md-2 tablink center-text" onclick="openPage('Riprese-aeree', this, 'orange')"><span>Riprese </span></div>
		<div class="col-md-2 tablink center-text" onclick="openPage('Ispezioni-aeree', this, 'orange')"><span>Ispezioni</span></div>
		<div class="col-md-2 tablink center-text" onclick="openPage('termografia', this, 'orange')"><span>Termografia</span></div>
		<div class="col-md-2 tablink center-text" onclick="openPage('Agricoltura', this, 'orange')"><span>Agricoltura</span></div>
		<div class="col-md-2 tablink center-text" onclick="openPage('Allevamento', this, 'orange')"><span>Allevamento</span></div>
	</div>
	<div id="Riprese-aeree" class="tabcontent container-fluid justified">
	  <div class="row justified ">
			<div class="col-sm-6 animation-element fade-from-left loop">
				<div>
					<h2 class="up">Riprese aeree</h2>
	  			<p>Le camere equipaggiate dai droni raggiungono altissime risoluzioni e pertanto si prestano essere messe a disposizione di spot e servizi pubblicitari e fotografici, supportando le riprese da terra con panoramiche aeree professionali di grande impatto emozionale, o fornendo suggestive fotografie aeree.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Riprese aeree per eventi e matrimoni</p></li>
						<li><p>Video promozionali</p></li>
						<li><p>Fotografia aerea di immobili e proprietà a scopo promozionale e non</p></li>
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text animation-element fade-from-bottom loop">
				<br>
				<br>
				<%= video_tag("PianRanch.mp4", controls: true, title:"PianRanch") %>
			</div>
		</div>
		<div class="col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">monetization_on</i></div>
					<div>
						<h4 class="center-text">Costi contenuti</h4>
						<p>Rispetto ai mezzi tradizionlmente utilizzati (come gli elicotteri) i costi sono notevolmente contenuti</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">high_quality</i></div>
					<div>
						<h4 class="center-text">Qualità</h4>
						<p>Grazie all'utilizzo di camere ad alta risoluzione stabilizzate meccanicamente, la qualità delle immagini è garantita.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">camera</i></div>
					<div>
						<h4 class="center-text">Punto di vista differente</h4>
						<p>Un altro punto di vista è possibile. Foto e video spettacolari da una prospettiva innovativa.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Aerofotogrammetria" class="tabcontent container-fluid justified">
		<div class="row justified">
			<div class="col-sm-6 animation-element fade-from-left">
				<div>
					<h2 class="up">Aerofotogrammetria</h2>
		  		<p>La fotogrammetria è una tecnica di rilievo che permette di acquisire dati metrici di un oggetto (forma e posizione) tramite l’acquisizione e l’analisi di una coppia di fotogrammi stereometrici. L’applicazione ai droni (aerofotogrammetria) opera attraverso la creazione d imodelli 3D per la creazione di modelli digitali del terreno e ortofoto, e la produzione di rilievi architettonici di infrastrutture ed edifici.<br>
					Attualmente l’aerofotogrammetria rappresenta una delle tecniche di acquisizione dei dati del territorio tre le più affidabili, economiche e precise, molto utile anche nelle analisi del cambiamento del territorio.<br>
					L'aerofotogrammetria ha diverse applicazioni tecniche: ortofoto, rilievi geologici, servizi topografici con drone, modelli 3D (ricostruzioni nuvole di punti, curve di livello), mappatura cantieri e territori, rendering edifici,  monitoraggio siti con dissesto idrogeologico, DEM (Digital Elevation Model).</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Restituzione Ortofoto</p></li>
						<li><p>Restituzione Curve di livello</p></li>
						<li><p>Produzione DEM, DSM, DTM</p></li>
						<li><p>Rilievo di supporto a studi di progettazione</p></li>
						<li><p>Rilievo di monitoraggio S.A.L</p></li>
						<li><p>Rilievo topografico</p></li>
						<li><p>Cartografia tematica</p></li>
						<li><p>Rilievo per calcolo volumetrie/ progettazione ampliamenti</p></li>				
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text animation-element fade-from-bottom">
				<div>
					<%= image_tag("fotogram.png", alt: "aerofotogrammetria", title:"Fotogrammetria drone", class:"images-md") %>
				</div>
				<br>
				<div>
					<%= image_tag("DEM.png", alt: "DEM", title: "Digital Elevation Model", class:"images-md") %>
				</div>
			</div>
		</div>
		<div class=" col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">monetization_on</i></div>
					<div>
						<h4 class="center-text">Costi contenuti</h4>
						<p>Rispetto ai mezzi tradizionlmente utilizzati (come elicotteri o aerei) i costi sono notevolmente contenuti</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">high_quality</i></div>
					<div>
						<h4 class="center-text">Qualità</h4>
						<p>Grazie all'utilizzo di camere ad alta risoluzione stabilizzate meccanicamente, è possibile ottenere prodotti con alta risoluzione a terra.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">flash_on</i></div>
					<div>
						<h4 class="center-text">Tempi rapidi</h4>
						<p>Grazie all'aerofotogrammetria è possibile rilevare estese aree di terreno in tempi ridottissimi, rispetto ai tradizionali metodi di rilievo.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Ispezioni-aeree" class="tabcontent container-fluid justified">
	  <div class="row justified">
			<div class="col-sm-6 animation-element fade-from-left">
				<div>
					<h2 class="up">ispezioni aeree</h2>
		  		<p>L'utilizzo di sistemi a pilotaggio remoto permette di poter ragiungere ed ispezionare dall'alto aree di grandi dimensioni e luoghi difficilmente raggiungibili come per esempio ripide scarpate, frane o zone alluvionate. Tutto ciò in piena sicurezza e a costi notevolmente più accessibili rispetto l'utilizzo di elicotteri o aerei.Le motivazioni possono variare dal semplice monitoraggio abientale allo studio di aree di calamità.
		  		<br><br>
					Le operazioni di ispezione di elevati sono tradizionalmente svolte servendosi di piattaforme, cestelli idraulici o funi che, oltre ad essere potenzialmente pericolose, hanno costi elevati per il servizio che effettivamente deve essere erogato.
					L'utilizzo di droni, al contrario, è un metodo d’indagine al 100% sicuro e molto più economico. Questi ultimi, al contrario dell'uomo, sono in grado di volare vicino agli impianti, raggiungendo luoghi anche molto impervi e pericolosi.
					La possibilità di effettuare delle ispezioni aeree con drone è quindi una soluzione in grado di perfezionare non poco le attività legate alla manutenzione di edifici ed impianti di vario tipo in tempi ristretti e costi contenuti rispetto ai tradizionali sistemi di ispezione e anche rispetto ad altri mezzi di ripresa aerea utilizzati finora.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Monitoraggio ambientale </p></li>
						<li><p>Monitoraggio cantiere</p></li>
						<li><p>Monitoraggio del traffico</p></li>
						<li><p>Ispezione stato di un edificio (tetto, facciate, intonaci, grondaie)</p></li>
						<li><p>Ispezione e monitoraggio infrastrutture (dighe, viadotti, ponti, pale eoliche)</p></li>
						<li><p>Ricerca e soccorso di dispersi</p></li>			
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text animation-element fade-from-bottom">
				<div>
					<%= image_tag("isp.png", alt: "Ispezione Tetti", title:"Ispezioni tetti", class:"images-md") %>
				</div>
				<div>
					<%= image_tag("isp2.png", alt: "Ispezione Cantieri", title:"Ispezioni cantieri", class:"images-md") %>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text">
						<i class="material-icons">monetization_on</i>
						<h4 class="center-text">Costi contenuti</h4>
					</div>
					<div>
						<p>Rispetto ai mezzi tradizionlmente utilizzati (come gli elicotteri) i costi sono notevolmente contenuti</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">security</i></div>
					<div>
						<h4 class="center-text">Sicurezza</h4>
						<p>Grazie ai droni è possibile monitorare in totale sicurezza per l'operatore zone pericolose, o altrimenti irraggiungibili</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">flash_on</i></div>
					<div>
						<h4 class="center-text">Tempi rapidi</h4>
						<p>Il tempo di preparare il mezzo ed effettuare il volo ed il lavoro è fatto!</p>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>

	<div id="termografia" class="tabcontent container-fluid justified">
	 <div class="row justified">
			<div class="col-sm-6 animation-element fade-from-left">
				<div>
					<h2 class="up">ispezioni termografiche</h2>
		  		<p>Qualunque oggetto abbia una temperatura assoluta superiore allo zero assoluto (-273,14°C) è individuabile tramite un’indagine termografica che ne rileva le radiazioni termiche (infrarossi) emesse sotto forma di onde elettromagnetiche. La camera termica converte il calore percepito in impulso elettrico e a sua volta in termogramma.	
	  			L'immagine risultante sarà su una scala di colori relativa dal blu al rosso (da freddo a caldo) e ad ogni pixel sarà affidato un codice colore in base alla temperatura assoluta registrata.
	  			<br>
					Grazie alla possibilità di montare termocamere molto precise sui droni, è quindi possibile effettuare mappature termiche precise e complete. I dati che possiamo ottenre da ispezioni del genere possono avere svariati campi di utilizzo come si può notare qui a fianco.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Ispezione campi fotovoltaici</p></li>
						<li><p>Ispezione tralicci alta tensione</p></li>
						<li><p>Ispezione turbine eoliche</p></li>
						<li><p>Ispezioni strutturali edifici</p></li>		
						<li><p>Controllo ambientale</p></li>
						<li><p>Controllo aree soggette a incendio</p></li>					
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text animation-element fade-from-bottom">
				<div>
					<%= image_tag("termo.png", alt: "termografia", title:"Ispezione termografica pannelli fotovoltaici", class:"images-lg") %>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">high_quality</i></div>
					<div>
						<h4 class="center-text">Qualità</h4>
						<p>Grazie all'installazione di termocamere ad alta risoluzione stabilizzate meccanicamente, siamo in grado di garantire risultati dalla qualità e dalla precisone elevate.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">flash_on</i></div>
					<div>
						<h4 class="center-text">Tempi rapidi</h4>
						<p>Il tempo di preparare il mezzo ed effettuare il volo ed il lavoro è fatto!</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">monetization_on</i></div>
					<div>
						<h4 class="center-text">Costi contenuti</h4>
						<p>La possibilità di ispezionare vaste aree in poco tempo, fa sì che il rapporto costi/tempo sia nettamente favorevole rispetto ai tradizionali rilevamenti terrestri o all'uso di mezzi più costosi, come gli elicotteri.</p>
					</div>
				</div>
			</div>
			<br>
		</div>
	</div>

	<div id="Agricoltura" class="tabcontent container-fluid justified">
	  <div class="row justified">
			<div class="col-sm-6 animation-element fade-from-left">
				<div>
					<h2 class="up">agricoltura di precisione</h2>
		  		<p>Il termine Agricoltura di Precisione indica un insieme di concetti di gestione agronomica basato sull’osservazione e la risposta alle variazioni che esistono all’interno di aree coltivate (es. suolo, umidità, sostanza organica, ecc.) e le azioni mirate all'ottimizzazione della gestione delle stesse.
		  		L'applicazione dei droni a questo contesto può generare numerosi vantaggi in termini economici e di tempo: per esempio, in viticoltura, il drone fotografa il vigneto, dà una colorazione ai filari in base alla resa per ceppo e dal video si nota dove c’è uniformità di vegetazione e dove no, lavoro questo che si svolge in poche ore, quando l’uomo ci metterebbe settimane.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Classificazione della vegetazione e distinzione delle colture</p></li>
						<li><p>Monitoraggio dello stato di salute e vigore vegetativo delle colture</p></li>
						<li><p>Individuazione dei tipi di terreno</p></li>
						<li><p>Analisi anomalie termiche e possibili ristagni idrici</p></li>			
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text animation-element fade-from-bottom">
				<div>
					<%= image_tag("agri.png", alt: "Agricoltura 2.0", title:"Rilievo Multispettrale", class:"images-lg") %>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in invisible">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">monetization_on</i></div>
					<div>
						<h4 class="center-text">Costi contenuti</h4>
						<p>Rispetto ai mezzi tradizionlmente utilizzati (come gli elicotteri) i costi sono notevolmente contenuti</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">high_quality</i></div>
					<div>
						<h4 class="center-text">Qualità</h4>
						<p>Grazie all'utilizzo di camere ad alta risoluzione stabilizzate meccanicamente, la qualità delle immagini è garantita.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">camera</i></div>
					<div>
						<h4 class="center-text">Punto di vista differente</h4>
						<p>Un altro punto di vista è possibile. Foto e video spettacolari da una prospettiva innovativa.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="Allevamento" class="tabcontent container-fluid justified">
	  <div class="row justified">
			<div class="col-sm-6 animation-element fade-from-left">
				<div>
					<h2 class="up">allevamento di precisione</h2>
		  		<p>Con il termine Allevamento di Precisione si intende un insieme di concetti di gestione zootecnica basato sull'osservazione e la risposta alle variazioni che insistono sull'animale. Tramite l'utilizzo di un SAPR si fa uso di tecniche termografiche per l'individuazione (anche in pascoli estesi) di capi affetti da stati patologici o di stress</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Individuazione e monitoraggio patologie</p></li>
						<li><p>Rilevamento stati di stress</p></li>
						<li><p>Indivazione capi dispersi</p></li>			
					</ul>
				</div>
			</div>
			<div class="col-sm-6 center-text animation-element fade-from-bottom">
				<div>
					<%= image_tag("allevamento.png", alt: "Allevamento di precisione", title:"Allevamento di precisione", class:"images-lg") %>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in invisible">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">monetization_on</i></div>
					<div>
						<h4 class="center-text">Costi contenuti</h4>
						<p>Rispetto ai mezzi tradizionlmente utilizzati (come gli elicotteri) i costi sono notevolmente contenuti</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">high_quality</i></div>
					<div>
						<h4 class="center-text">Qualità</h4>
						<p>Grazie all'utilizzo di camere ad alta risoluzione stabilizzate meccanicamente, la qualità delle immagini è garantita.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">camera</i></div>
					<div>
						<h4 class="center-text">Punto di vista differente</h4>
						<p>Un altro punto di vista è possibile. Foto e video spettacolari da una prospettiva innovativa.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta container-fluid">
	<div class="container-fluid col-flex">
		<span class="btn white-text o-bg" id="cta2" onclick="openForm()">CHIEDI UN PREVENTIVO</span>
	</div>
</section>
<section class="form container-fluid" id="form">
	<div class="container col-flex w-bg card-border">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdiALyReWT06RuXWC6IyMCzuZOh-__tOW6thVn7NG5y0Pu9zA/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
	</div>
	<i onclick="closeForm()"class="material-icons" style="cursor: pointer;">clear</i>
</section>


