<% provide(:title, "Portfolio") %>
<div class="hero container-fluid white-text center-text B s2 bg-9" id="hero-portfolio">
	<div class="hero-titlebox"></div>
	<div class="title-container"><h1>Portfolio</h1></div>
</div>
<section id="clients" class="widescreen-post-hero col-flex">
	<div class="container-sm animation-element fade-from-top">
		<h2 class="center-text s4 up white-text">ci hanno dato fiducia</h2>
		<div class="row center-text s1">
			<div class="col-sm-2 col-flex">
				<div class="logo-coll col-flex">
					<%= link_to image_tag("Logo ARS.jpg", alt:"AR/S", title:"Archeosistemi"),
            "https://www.archeosistemi.it" %>
				</div>
			</div>
			<div class="col-sm-2 col-flex">
				<div class="logo-coll col-flex">
					<%= link_to image_tag("Ale.jpg", alt:"Ale consultin ingegneria", title:"Ale Consulting"),
            "https://www.aleconsulting.it" %>
				</div>
			</div>
			<div class="col-sm-2 col-flex">
				<div class="logo-coll col-flex">
					<%= link_to image_tag("z2.JPG", alt:"Immobiliare Zeta Due", title:"Immobiliare Zeta Due", class:"images-sm"), "http://www.immobiliarezetadue.it" %>
				</div>
			</div>			
		</div>
	</div>
</section>
<section id="lavori">
	<div class="container-sm">
		<div class="timeline s1">
		  <div class="timeline-container left animation-element fade-in">
		    <div class="timeline-content card-border">
		      <h2>Rieti 2020</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
		    	<div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ss79.jpg", alt:"ss79 Ternana", title:"Tracciato ss79 Ternana", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ril2.png", alt:"ss79 Ternana", title:"CAD ss79 Ternana", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		  <div class="timeline-container right animation-element fade-in">
		    <div class="timeline-content card-border">
		      <h2>Sasso Marconi 2020</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
		      <div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ss79.jpg", alt:"ss79 Ternana", title:"Tracciato ss79 Ternana", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ril2.png", alt:"ss79 Ternana", title:"CAD ss79 Ternana", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		  <div class="timeline-container left animation-element fade-in">
		    <div class="timeline-content card-border">
		      <h2>Liguria 2020</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
		     	<div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ss79.jpg", alt:"ss79 Ternana", title:"Tracciato ss79 Ternana", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ril2.png", alt:"ss79 Ternana", title:"CAD ss79 Ternana", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		  <div class="timeline-container right animation-element fade-in">
		    <div class="timeline-content card-border">
		      <h2>Arcevia 2019</h2>
		      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p><br>
		      <div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ss79.jpg", alt:"ss79 Ternana", title:"Tracciato ss79 Ternana", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ril2.png", alt:"ss79 Ternana", title:"CAD ss79 Ternana", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
</section>
<section class="gallery" style="display: none;">
	<div class="container-sm">
		<h2 class="">Gallery</h2>
		<div class="row">
			<div class="col-sm-4">
				<div class="container card-border">
					<div class="images-lg">
						
					</div>
					<div class="caption">
						
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="container card-border">
					<div class="images-lg">
						
					</div>
					<div class="caption">
						
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="container card-border">
					<div class="images-lg">
						
					</div>
					<div class="caption">
						
					</div>
				</div>
			</div>
			<div class="col-sm-4">
				<div class="container card-border">
					<div class="images-lg">
						
					</div>
					<div class="caption">
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
