<% provide(:title, "Portfolio") %>
<div class="hero container-fluid white-text center-text B s2 bg-9" id="hero-portfolio">
	<div class="hero-titlebox"></div>
	<div class="title-container"><h1>Portfolio</h1></div>
</div>
<section id="clients" class="widescreen-post-hero col-flex">
	<div class="container-sm animation-element fade-from-top">
		<h2 class="center-text s4 up white-text">ci hanno dato fiducia</h2>
		<div class="row center-text s1">
			<div class="col-sm-2 col-flex">
				<div class="logo-coll col-flex">
					<%= link_to image_tag("Logo ARS.jpg", alt:"AR/S", title:"Archeosistemi"),
            "https://www.archeosistemi.it" %>
				</div>
			</div>
			<div class="col-sm-2 col-flex">
				<div class="logo-coll col-flex">
					<%= link_to image_tag("Ale.jpg", alt:"Ale consulting ingegneria", title:"Ale Consulting"),
            "https://www.aleconsulting.it" %>
				</div>
			</div>
			<div class="col-sm-2 col-flex">
				<div class="logo-coll col-flex">
					<%= link_to image_tag("z2.JPG", alt:"Immobiliare Zeta Due", title:"Immobiliare Zeta Due", class:"images-sm"), "http://www.immobiliarezetadue.it" %>
				</div>
			</div>			
		</div>
	</div>
</section>
<section id="lavori">
	<div class="container-sm">
		<div class="timeline s1">
		  <div class="timeline-container left animation-element fade-from-bottom">
		    <div class="timeline-content card-border">
		      <h2>Rieti 2020</h2>
		      <p>Rilievo topografico plano-altimetrico tramite GNSS e Stazione Totale di un tratto di 18 km della SS 79 Ternana nei pressi di Rieti per progetto di riqualificazione della barriera stradale.</p><br>
		    	<div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("ss79.jpg", alt:"ss79 Ternana", title:"Tracciato ss79 Ternana", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("Cattura.PNG", alt:"ss79 Ternana", title:"CAD ss79 Ternana", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		  <div class="timeline-container right animation-element fade-from-bottom">
		    <div class="timeline-content card-border">
		      <h2>Sasso Marconi 2020</h2>
		      <p>Rilievo topografico plano-altimetrico tramite GNSS e Stazione Totale di un tratto di strada e di torrente nei pressi di Rieti per progetto di deviazione stradale e progettazione di ponte.</p><br>
		      <div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("sasso.JPG", alt:"Sasso Marconi", title:"Rilievo plano-altimetrico", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("sasso2.JPG", alt:"Sezione Sasso Marconi", title:"Sezione Sasso Marconi", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		  <div class="timeline-container left animation-element fade-from-bottom">
		    <div class="timeline-content card-border">
		      <h2>Liguria 2020</h2>
		      <p>Rilievi aerofotogrammetrici nell'ambito del progetto per il metanodotto Sestri Levante - Recco, di 4 aree di interesse archeologico, con restituzione di modello tridimensionale, DEM, curve di livello e ortofoto, oltre che di documentazione fotografica aerea.</p><br>
		     	<div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("tugio.jpg", alt:"Monte Tugio", title:"Monte Tugio", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("DEM_Castello.jpg", alt:"DEM Castello Monte Tugio", title:"DEM Castello Monte Tugio", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		  <div class="timeline-container right animation-element fade-from-bottom">
		    <div class="timeline-content card-border">
		      <h2>Arcevia 2019</h2>
		      <p>Rilievo aerofotogrammetrico della vetta del Monte Croce Guardia, nei pressi di un'area di interesse archeologico, sottoposta ad indagini, con restituzione di modello tridimensionale, DEM, curve di livello e ortofoto.</p><br>
		      <div class="img-container row">
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("orto.PNG", alt:"Ortofoto Arcevia", title:"Ortofoto Arcevia", class:"images-lg") %>
		    		</div>
		    		<div class="col-md-6 col-flex">
		    			<%= image_tag("DEM.png", alt: "DEM Arcevia", title: "Digital Elevation Model Arcevia", class:"images-lg") %>
		    		</div>		      	
		    	</div>
		    </div>
		  </div>
		</div>
	</div>
</section>

