<% provide(:title, "Rilievo topografico") %>
<div class="hero container-fluid white-text center-text B  bg-5" id="hero-survey">
	<div class="hero-titlebox"></div>
	<div class="title-container"><h1>RILIEVI</h1></div>
	<div class="hero-img" id="survey-img">
		<picture>
			<source media="(max-width:991px)" srcset="">
			<source media="(max-width:767px)" srcset="">
			<source media="(max-width:575px)" srcset="">
			<%= image_tag("ts.png", alt: "rilievo", title:"rilievi") %>
		</picture>
	</div>
</div>
<section class="widescreen-post-hero container-fluid white-text">
	<div class="col-flex rounded container">
		<p class="italic s3 center-text animation-element fade-from-top">"Misura ciò che è misurabile e rendi misurabile ciò che non lo è"</p>
		<p class="up animation-element fade-from-bottom s1">Galileo Galilei</p>
	</div>
</section>
<section class="container-fluid services widescreen s1" id="rilievi">
	<div class="container-fluid row sub-menu">
		<div class="col-md-4 tablink center-text" onclick="openPage('topografico', this, 'orange')" id="defaultOpen"><span>Topografia</span></div>
		<div class="col-md-4 tablink center-text" onclick="openPage('archeologico', this, 'orange')"><span>Archeologia </span></div>
		<div class="col-md-4 tablink center-text" onclick="openPage('tred', this, 'orange')"><span>3D</span></div>
	</div>
	<div id="topografico" class="tabcontent container-fluid justified">
	  <div class="row justified ">
			<div class="col-lg-6 animation-element fade-from-left">
				<div>
					<h2 class="up">Rilievo topografico</h2>
	  			<p>Con il termine rilevamento topografico si intende la misura, sia planimetrica che altimetrica, dello spazio, ottenuta con strumentazione basata su tecnologie satellitari e/o elettro-ottiche. Grazie all'ausilio di strumenti ad alta precisione come stazioni totali e antenne GNSS, affiancate dalle più moderne tecnologie della fotogrammetria, siamo in grado di garantire elevata precisione e affidabilità in tutte le operazioni topografiche, offrendo soluzioni su misura per ogni situazione.<br>
					Grazie alla collaborazione con professionisti nel settore, garantiamo competenza e professionalità in ogni situazione, spaziando dal supporto cantieristico per l'esecuzione di lavori sia pubblici che privati, alle necessità di aggiornamento catastale, fino alla pianificazione urbanistica.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Rilievi plano-altimetrici</p></li>
						<li><p>Picchettamenti, livellamenti, sezionature, piani quotati</p></li>
						<li><p>Rilievi geodetici</p></li>
						<li>Accatastamento di fabbricati</li>
						<li><p>Frazionamenti</p></li>
						<li><p>Rilievi catastali</p></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-6 center-text animation-element  fade-from-bottom">
				<div>
					<picture>
						<source media="(max-width:575px)" srcset="ril1-sm.png">
						<source media="(max-width:400px)" srcset="ril1-xs.png">
						<%= image_tag("ril1.png", alt: "rilievo stazione totale", title:"Rilievo a Stazione Totale", class:"images-md") %>
					</picture>
				</div>
				<br>
				<div>
					<picture>
						<source media="(max-width:767px)" srcset="fotogram-md.png">
						<source media="(max-width:575px)" srcset="fotogram-sm.png">
						<source media="(max-width:400px)" srcset="fotogram-xs.png">
						<%= image_tag("ril2.png", alt: "CAD", title: "Elaborazione CAD del rilievo", class:"images-md") %>
					</picture>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">zoom_out_map</i></div>
					<div>
						<h4 class="center-text">Versatilità</h4>
						<p>Grazie alla nostra esperienza e alla nostra strumentazione possiamo offrire soluzioni che si adattino a tutti i contesti.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">how_to_reg</i></div>
					<div>
						<h4 class="center-text">Professionalità</h4>
						<p>Offriamo un team sempre aggiornatao sulle tecniche di rilievo, con esperienza pluriennale e sempre pronto ad ascoltare e venire incontro alle esigenze dei nostri clienti.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">thumb_up_alt</i></div>
					<div>
						<h4 class="center-text">Efficienza</h4>
						<p>Cerchiamo sempre di offrire le soluzioni più adatte alle situazioni in modo da poter offrire un servizio di alta qualità, nel minor tempo possibile.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="archeologico" class="tabcontent container-fluid justified">
		<div class="row justified">
			<div class="col-lg-6 animation-element fade-from-left">
				<div>
					<h2 class="up">rilievo archeologico</h2>
		  		<p>L’attività dello scavo archeologico è per sua stessa natura un’azione distruttiva: questo rende evidente quanto importante sia documentare con la massima attenzione e precisione il manufatto rinvenuto sottoterra. Siccome il rilievo archeologico rappresenta il principale mezzo di documentazione di dettaglio dell'evidenza archeologica, è fondamentale che tale attività sia svolta con la massima professionalità e attenzione. <br>Offriamo a tutte le aziende e i privati che operano in cantiere o in zone vincolate un servizio di documentazione archeologica altamente professionale e di grande precisione. La nostra azienda si avvale di strumentazione all'avanguardia ed è in grado di fornire un prodotto completo e integrato valutando caso per caso le migliori soluzioni a disposizione. Il servizio si rivolge anche ai professionisti archeologi che volessero avvalersi delle nostre competenze e della nostra strumentazione per i propri lavori liberandosi dalla necessità di investire in prima persona.<br>A seconda delle esigenze sarà possibile avvalersi di un rilievo manuale in scala vettorializzato in CAD, dell'uso della stazione totale combinato con la geolocalizzazione satellitare, l'aggiunta di informazioni tridimensionali complete ottenute da laser scanner e ortofoto generate dall'uso di sistemi a pilotaggio remoto (droni).<br>Questo consente ai nostri clienti un grosso risparmio in termini di tempo e denaro, avvalendosi comunque di un servizio di grande qualità.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Posizionamento aree di intervento tramite sistemi GNSS</p></li>
						<li><p>Rilievo di scavi archeologici</p></li>
						<li><p>Rilievo stratigrafia archeologica</p></li>
						<li><p>Vettorializzazione di rilievi manuali</p></li>
						<li><p>Documentazione fotografica</p></li>
						<li><p>Impostazione e gestione di GIS di scavo</p></li>				
					</ul>
				</div>
			</div>
			<div class="col-lg-6 center-text animation-element  fade-from-bottom">
				<div>
					<picture>
						<source media="(max-width:767px)" srcset="fotogram-md.png">
						<source media="(max-width:575px)" srcset="fotogram-sm.png">
						<source media="(max-width:400px)" srcset="fotogram-xs.png">
						<%= image_tag("archeo.png", alt: "rilievo archeologico", title:"Planimetria archeologica - da https://www.academia.edu/37509736/Medieval_coins_from_the_site_of_San_Vincenzo_on_the_island_of_Stromboli_Italy", class:"images-lg") %>
					</picture>
				</div>
				<br>
				<div>
					<picture>
						<source media="(max-width:767px)" srcset="fotogram-md.png">
						<source media="(max-width:575px)" srcset="fotogram-sm.png">
						<source media="(max-width:400px)" srcset="fotogram-xs.png">
						<%= image_tag("gis.PNG", alt: "GIS_archeologia", title: "GIS di scavo archeologico", class:"images-lg") %>
					</picture>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">zoom_out_map</i></div>
					<div>
						<h4 class="center-text">Versatilità</h4>
						<p>Grazie alla nostra esperienza e alla nostra strumentazione possiamo offrire soluzioni che si adattino a tutti i contesti.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">how_to_reg</i></div>
					<div>
						<h4 class="center-text">Professionalità</h4>
						<p>Offriamo un team sempre aggiornatao sulle tecniche di rilievo, con esperienza pluriennale e sempre pronto ad ascoltare e venire incontro alle esigenze dei nostri clienti.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">thumb_up_alt</i></div>
					<div>
						<h4 class="center-text">Efficienza</h4>
						<p>Cerchiamo sempre di offrire le soluzioni più adatte alle situazioni in modo da poter offrire un servizio di alta qualità, nel minor tempo possibile.</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="tred" class="tabcontent container-fluid justified">
	  <div class="row justified">
			<div class="col-lg-6 animation-element fade-from-left">
				<div>
					<h2 class="up">rilievo tridimensionale (3d)</h2>
		  		<p>ILa metodologia più efficace al giorno d'oggi per la documentazione di un oggetto è il rilievo tridimensionale, poiché consente di ricreare un modello virtuale identico all’originale, metricamente corretto e fotorealistico. <br> Accanto a strumenti come i laser scanner, esistono oggi soluzioni software che permettono di ricostruire tridimensionalmente un oggetto o una scena utilizzando solamente immagini digitali o video, basandosi su algoritmi di ricostruzione Structure-from-Motion (SfM) e Multi-View Stereo (MVS). Il risultato è una riproduzione tridimensionale fedele e dettagliata dell’originale, navigabile in ogni sua parte.</p>
				</div>
				<div>
					<h3 class="up">applicazioni</h3>
					<ul>
						<li><p>Catalogazione digitale</p></li>
						<li><p>Confronti tra oggetti fisicamente distanti</p></li>
						<li><p>Creazione contenuti multimediali (siti web, musei virtuali e non, applicazioni digitali, realtà aumentata)</p></li>
						<li><p>Documentazione e analisi dello stato di conservazione dell'opera prima di un restauro per valutare entità e modlità più appropriate di intervento</p></li>
						<li><p>Produzione di una o più copie dell'oggetto avvalendosi della stampa 3D, utile per la realizzazione di percorsi museali tattici o attività didattiche per le scuole, oppure per realizzare oggettistica per il merchandising </p></li>			
					</ul>
				</div>
			</div>
			<div class="col-lg-6 center-text animation-element  fade-from-bottom">
				<div>
					<picture>
						<source media="(max-width:767px)" srcset="fotogram-md.png">
						<source media="(max-width:575px)" srcset="fotogram-sm.png">
						<source media="(max-width:400px)" srcset="fotogram-xs.png">
						<%= image_tag("fornace.png", alt: "rilievo 3D fornace", title:"Rilievo 3D fornace romana", class:"images-md") %>
					</picture>
				</div>
				<div>
					<picture>
						<source media="(max-width:767px)" srcset="fotogram-md.png">
						<source media="(max-width:575px)" srcset="fotogram-sm.png">
						<source media="(max-width:400px)" srcset="fotogram-xs.png">
						<%= image_tag("3dobject.JPG", alt: "Rilievo 3d oggetto ", title:"Rilievo 3D oggetto", class:"images-md") %>
					</picture>
				</div>
			</div>
		</div>
		<div class="col-flex animation-element fade-in">
			<h3 class="center-text up B">Vantaggi</h3>
			<div class="row justified icon-vantaggi">
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">zoom_out_map</i></div>
					<div>
						<h4 class="center-text">Versatilità</h4>
						<p>Grazie alla nostra esperienza e alla nostra strumentazione possiamo offrire soluzioni che si adattino a tutti i contesti.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">how_to_reg</i></div>
					<div>
						<h4 class="center-text">Professionalità</h4>
						<p>Offriamo un team sempre aggiornatao sulle tecniche di rilievo, con esperienza pluriennale e sempre pronto ad ascoltare e venire incontro alle esigenze dei nostri clienti.</p>
					</div>
				</div>
				<div class="col-md-4">
					<div class="center-text"><i class="material-icons">thumb_up_alt</i></div>
					<div>
						<h4 class="center-text">Efficienza</h4>
						<p>Cerchiamo sempre di offrire le soluzioni più adatte alle situazioni in modo da poter offrire un servizio di alta qualità, nel minor tempo possibile.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="cta container-fluid">
	<div class="container-fluid col-flex">
		<span class="btn white-text o-bg" id="cta2" onclick="openForm()">CHIEDI UN PREVENTIVO</span>
	</div>
</section>
<section class="form container-fluid" id="form">
	<div class="container col-flex w-bg card-border">
		<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSckMO0CN3VwAl_rQAfAQvtcC1846s5Bzx2bM3ETF3rSGmsK8g/viewform?embedded=true" frameborder="0" marginheight="0" marginwidth="0">Caricamento…</iframe>
	</div>
	<i onclick="closeForm()"class="material-icons" style="cursor: pointer;">clear</i>
</section>

